link(rel="stylesheet" href="resources/css/about.css")


.row.content
   img(src="resources/img/profile.png").hidden-xs.hidden-sm.img-responsive.col-md-4.col-lg-4.col-md-offset-1.col-lg-offset-1
   div.col-sm-12.col-md-6.col-lg-6.text-block
      .row
         h1.col-xs-11.col-sm-5.col-md-5.col-xs-offset-1.col-sm-offset-1.col-md-offset-0
            u About
      .row
         h3.col-xs-11.col-sm-10.col-md-12.col-lg-10.col-xs-offset-1.col-sm-offset-1.col-md-offset-0.info I am a Software Engineer with an interest in Front end and Full Stack Web Development.  I have previous experience from internships working on adding new implementation and applying bug fixes for websites.  Currently I have been learning AngularJS, Node, and MongoDB in my free time.