link(rel="stylesheet" href="resources/css/about.css")


.row.center-img
   img(src="resources/img/profilePic.jpg").hidden-xs.hidden-sm.col-md-2.col-md-offset-5.pad-img
.row
   h1.col-xs-12.col-sm-12.col-md-2.col-md-offset-5.text-center
      u.text-center.page-subject About
.row
   h3.col-xs-12.col-sm-8.col-md-6.col-lg-6.col-sm-offset-2.col-md-offset-3.col-lg-offset-3.text-center I am a Software Engineer with an interest in Front end and Full Stack Web Development.  I have previous experience from internships working on adding new implementation and applying bug fixes for websites.  Currently I have been learning AngularJS, Node, and MongoDB in my free time.