link(rel="stylesheet" href="resources/css/contact.css")
.row.content
   div.col-sm-6.col-md-6.col-sm-offset-3.col-md-offset-3
      h1.text-center
         u.page-subject Contact Info

      h2.text-center Phone Number:
         small  (919) 270-7701


      h2.text-center Email:
         small  pmfarnsw@gmail.com