/* app css stylesheet */

body{
  padding-top:70px;
  margin:0;
  height:100%;
  /*background-image: url("resources/img/background.png");*/
  /*background-size: cover;*/
  /*font-family: 'Lobster',cursive;*/
  font-family: 'Cabin', sans-serif;
  overflow-x:hidden;

}

nav,h1,h2 {
  font-family: 'Lobster',cursive;
}

.lobster-font{
  font-family: 'Lobster',cursive;

}

.cabin-font{
  font-family: 'Cabin', sans-serif;
}

.page-subject{
  font-size:2em;
}
html{
  height:100%;
}

.main-body{
  width:100%;

}

.container{

  width:100%;
}

.navbar-default .navbar-toggle .icon-bar{

  background-color:white;
}


.center-img{
  display:block;
  margin-left: auto;
  margin-right:auto;
}


.navbar-default{
  background-color:#D04949;
  color:white;
}
.navbar-default .navbar-nav > .active > a{
  background-color: #F47878;
  color:black;
}

.navbar-default .navbar-nav > .active > a:focus{
  background-color: #F47878;
  color:black;
}

#wrapper{
  min-height: 100%;
  padding-right:15px;
  padding-left:15px;

}

.navbar-default .navbar-nav > li > a{
  color:white;
}

.navbar-default .navbar-brand{
  color:white;
}

#content{
  padding-bottom:200px;
  overflow:auto;
}

.footer{


  background-color:#D04949;
  color:white;
  position: relative;
  margin-top: -100px; /* negative value of footer height */
  height: 100px;
  clear:both;
  padding-top:5px;
  font-size:1.2em;
}


.space-img{
  padding-right:40px;
}

.email-footer{
  margin-top:15px;
}





/*
  adding mobile css first
  will only apply while bootstrap
  navbar is collapsed
*/
@media screen and (max-width:767px){



}


@media screen and (min-width:767px){


}