/* app css stylesheet */

body{
  padding-top:70px;
  margin:0;
  height:100%;

}
html{
  height:100%;
}

.main-body{
  width:100%;

}

.container{
  /*padding:0px;*/
  width:100%;
}

.navbar-default .navbar-toggle .icon-bar{

  background-color:white;
}




.navbar-default{
  background-color:#D04949;
  color:white;
}
.navbar-default .navbar-nav > .active > a{
  background-color: #F47878;
  color:black;
}

.navbar-default .navbar-nav > .active > a:focus{
  background-color: #F47878;
  color:black;
}

#wrapper{
  min-height: 100%;
}

.navbar-default .navbar-nav > li > a{
  color:white;
}

.navbar-default .navbar-brand{
  color:white;
}

#content{
  padding-bottom:200px;
  overflow:auto;
}

.footer{


  background-color:#D04949;
  color:white;
  position: relative;
  margin-top: -100px; /* negative value of footer height */
  height: 100px;
  clear:both;
  padding-top:48px;
}





/*
  adding mobile css first
  will only apply while bootstrap
  navbar is collapsed
*/
@media screen and (max-width:767px){



}


@media screen and (min-width:767px){


}